@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/DancingScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Dancing Script";
  src: url("/fonts/DancingScript-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}

:root {
  --background: #F3F4F6;
  --foreground: #171717;
  --font-dancing-script: "Dancing Script", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
